@using WebApplication1.Resources.Home

@{
    ViewBag.Title = @About.Title;
}

<main aria-labelledby="title">
    <h2 id="title"> @About.Title</h2>
    <h3>@About.Message</h3>

    <p>@About.Message</p>
</main>