@model WebApplication1.Models.Localization.AboutViewModel

@{
    ViewBag.Title = @Model.Title;
}

<main aria-labelledby="title">
    <h2 id="title">@Model.Title</h2>
    <h3>@Model.Introduction</h3>
    <p>@Model.Message</p>
</main>